body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: black;
    color:white;
}


#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    background-size: cover; /* Ensures the background image covers the entire canvas */
}

#endScreen {
    text-align: center;
}

#scoresDisplay {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0 auto; /* Center horizontally */
}
