body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("./flappybirdbg.png");
    background-size: cover; /* Ensures the background image covers the entire body */
}

#game-container {
    position: relative; /* Make the container relative so its children can be positioned relative to it */
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensures the menu is above the canvas */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
}

canvas {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("./flappybirdbg.png");
    background-size: cover; /* Ensures the background image covers the entire body */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center; /* Centers the background image */
}
